<section class="d-flex flex-column justify-content-between align-items-center m-4">
  <div class="side-head">
    <div class="logo d-flex align-items-center gap-3">
      <span class="icon"></span>
      <h2 class="m-0">TaskMinder</h2>
    </div>
    <div class="nav-items mt-5">
      <div class="sidenav-nav">
        <a class="sidenav-nav-link" *ngFor="let item of sideNav" [routerLink]="item.link" routerLinkActive="active">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="sidenav-link-text fw-medium">{{item.text | translate}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="btns">
    <button class="btn d-flex align-items-center w-100" (click)="logoutFn()">
      <mat-icon>logout</mat-icon>
      <span>{{'sidebar.logout' | translate}}</span>
    </button>
  </div>
</section>
