section {
  margin-top: 5rem;
  .title {
    h1 {
      letter-spacing: 1.5px;
    }
  }

  mat-card {
    margin: 3rem auto;
    background: #fff;

    mat-form-field {
      width: 100%;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
