<section [ngClass]="isUserLogin ? 'd-flex' : ''" [dir]="textDir" id="Appcontainer">
  <app-sidebar *ngIf="isUserLogin"></app-sidebar>
  <div class="content" [ngClass]="isUserLogin ? 'active' : ''">
    <app-header *ngIf="isUserLogin"></app-header>
    <router-outlet></router-outlet>
  </div>
</section>
<!-- <section [dir]="textDir" id="Appcontainer">
  <app-header *ngIf="isUserLogin"></app-header>
  <div class="content" [ngClass]="isUserLogin ? 'active' : ''">
    <app-sidebar *ngIf="isUserLogin"></app-sidebar>
    <div [ngClass]="isUserLogin ? 'main-content' : ''">
      <router-outlet></router-outlet>
    </div>
  </div>
</section> -->
