section {
  app-sidebar {
    width: 20rem;
    border-inline-end: 1px solid #dee2e6;
  }
  .content.active {
    width: -webkit-fill-available;
  }
}
// .content.active {
//   display: flex;
//   justify-content: center;
//   app-sidebar {
//     width: 20%;
//   }
//   .main-content {
//     width: 80%;
//   }
// }
